<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>hame page</h1>
        <a href="/email">See current got email</a>
    </div>

    <div style="margin-top: 50px">
        <h1>Add a email</h1>
        <form action="/email" method="post">
            <label for="name">姓名:</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">送出</button>
        </form>
    </div>

</body>

</html>